.card{
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side{
        background-color: orangered;
        height: 50rem;
        transition: all .8s;
        color: #fff;
        font-size: 2rem;

    }

    &:hover &__side{
        transform: rotateY(180deg);
    }
}